$color1 : rgb(218, 94, 115);
$color2 : rgb(236, 175, 95);
$color3 : rgb(19, 163, 108);
$color4 : rgb(62, 139, 211);
$color5 : #b1aeae;
$color6 : #000000;

.c1{
    color: $color1;
    background-color: $color5;
}